.first{
    background-color: black;
    
}
body{
    margin:  0;
    padding: 0;
}
.head{

    display: flex;
   justify-content: space-around;
   align-items: center;
    

}
.head .lwl{
margin-right: 700px;

}
.tani {
    display: flex;
    color: white;
    gap: 50px;
    
}
.tani h1{
    font-size: 12px;
    font-family: Arial, sans-serif;
    margin: 0;
    
}

.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.first2 h1{
    color: gray;
    font-size: 40px;
    margin-top: 180px;
    text-align: center;
    margin-bottom: 220px;
   
}
.first2 .lo{
    color: white;
    margin: 0;
}
.first2 .lb{
    color: white;
    margin: 0;
}
.highlight {
    color: white;
}
  .second{
    background-color: black;

  }

.fo9{
    display: flex;
    padding-top: 120px ;
    
}

  .fo9 p{
    color: gray;
    margin: 0;
    font-size: 36px;
    margin-left:160px ;
    font-family: Arial, sans-serif;
  }

  .carre1{
    background-color: gray;
    height: 20px;
    width: 20px;
    margin-bottom: 2px;
    

  }
  .carre2{
    background-color: gray;
    height: 20px;
    width: 20px;
    
  }

  .jouj h1
  {
    color: gray;
    font-size: 60px;
    font-family: Arial, sans-serif;
  }
  .fO{
    display: flex;
    gap: 20px;
  }
  
  .carr{
    display: flex;
    gap: 1px;
  }
  .mi{
    color: gray;
    font-size: 30px;
    font-family: Arial, sans-serif;
  }
  .tlata{
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .second1 .teht{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .whd{
    margin-top: 4px;
  }


 
  .teht{
    padding-bottom: 70px;
  }

  .third{
    background-color: black;
  }
  .lwla p{
    margin: 0;
    color: gray;
  }

  .tania .left img{

    height: 400px;
  }